{% extends "SfFrontBundle::frontTemplate.html.twig" %}
{% block css %}
     <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}
{% block bandeauClass %}presse{% endblock%}
{% block ariane %} 
    <div class="sous-categorie">Presse</div>
{% endblock %}
{% block title %}Qwinsport - Presse{% endblock %}


{% block body %}

    <div id="main-content">
        <div class="col-sm-9 col-md-10">
            <div class="product actualite col-sm-12">

                <div class="article press">
                    <h3 class="big-title">
                        Revue de<br><span class="din-bold">Presse</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt="">
                    </h3><hr/><br/>
                    
                    {% for entity in entities %}
                    <div class=" hidden-xs col-md-3 center">
                        {% if entity.secondPictureUrl is not null %}
                        <img style=""  src="{{ asset(['/uploads/press/', entity.secondPictureUrl]|join) }}" />  
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                         {% if entity.hdPictureUrl is not null %}
                        <a  target="_blank" href="{{ asset(['/uploads/press/', entity.hdPictureUrl]|join) }}">
                            <img class="hover" style="width:100%"  src="{{ asset(['/uploads/press/', entity.mainPictureUrl]|join) }}" />
                        </a> 
                        {% endif %}
          
                        <h5 class="red">{{entity.parutionTitle}}</h5>
                        <p class="date">{{entity.parutionSubTitle}}</p>
                    </div>
                    <div class="col-md-3">{{entity.text|raw}}</div>
                    <div class="clearfix"></div><hr/><br/>
                    {% endfor %}
                  
                  {% if catalog.fileUrl is defined %}
                    <div class="bloc-separation">
                        <div class="separation"></div>
                        <h2>Consulter le dossier de presse</h2>
                        <a target="_blank" href="{{asset('/uploads/catalogs/'~catalog.fileUrl)}}">
                            <div class="dl">En téléchargement</div>
                        </a>
                        <div class="separation"></div>
                    </div>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


