{% extends "SfFrontBundle::frontTemplate.html.twig" %}
{% block css %}
     <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}
{% block bandeauClass %}presse{% endblock%}
{% block ariane %} 
    Presse
{% endblock %}
{% block title %}Qwinsport - Presse{% endblock %}


{% block body %}

    <div id="main-content">
        <div class="col-sm-9 col-md-10">
            <div class="product actualite col-sm-12">

                <div class="article press">
                    <h3 class="big-title">
                        Revue de<br><span class="din-bold">Presse</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt="">
                    </h3><hr/><br/>
                    
                    {% for entity in entities %}
                    <div class="col-md-3 center">
                        <img style=""  src="{{ asset(['/uploads/press/', entity.secondPictureUrl]|join) }}" />        
                    </div>
                    <div class="col-md-9">
                        <img style=""  src="{{ asset(['/uploads/press/', entity.mainPictureUrl]|join) }}" />        
          
                        <h5 class="red">{{entity.parutionTitle}}</h5>
                        <p class="date">{{entity.parutionSubTitle}}</p>
                    </div><div class="clearfix"></div><hr/><br/>
                    {% endfor %}
                  
                  
                    <div class="bloc-separation">
                        <div class="separation"></div>
                        <h2>Consulter le dossier de presse</h2>
                        <a href="">
                            <div class="dl">En téléchargement</div>
                        </a>
                        <div class="separation"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


