{% extends 'SfFrontBundle::frontTemplate.html.twig' %}
{% block css %}
    <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}  
{% block ariane %}
    MENTIONS LEGALES
{% endblock %}
{% block bandeauClass %}
account
{% endblock %}
{% block body %}
    <div id="main-content" class="container">


        {{ form_start(form)}}


        <div class="row col-md-10">
            
            <div class="col-md-12">
                {{ form_row(form.text) }}
                {{ form_row(form.active) }}
            </div>

        </div>

        <div class="row col-md-12">
            <button class='submit'>Enregistrer</button>


        </div>
        {{ form_rest(form) }}
        {{ form_end(form)}}

    </div>
</div>
{% endblock %}
{% block js %}

    <script>
        $(document).ready(function() {

            tinymce.init({
                plugins: "link",
                forced_root_block: false,
                force_br_newlines: true,
                force_p_newlines: false,
                selector: "textarea",
                height: 600
            });

        


        });
      


    </script>

{% endblock %}

