{% extends 'SfFrontBundle::frontTemplate.html.twig' %}
{% block css %}
   <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %} 
{% block ariane %}
CLUBS ET PARTENAIRES
{% endblock %}
{% block bandeauClass %}
account
{% endblock %}
{% block body %}
    <div id="main-content"  class="container">
        <div class="table-responsive col-md-10">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Titre</th>
                        <th>Type</th>
                        <th>Actif ?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                          
                            <td>
                                {% if entity.pictureUrl is not null %}
                                    <img  src="{{ asset(['/uploads/partners/', entity.pictureUrl]|join) }}" />
                                {% endif %}
                            </td>
                          
                            <td><a href="{{ path('admin_partner_update', { 'partner' : entity.id }) }}">{{ entity.title }}</a></td>
                            <td>{{entity.type}}</td> 
                            <td>
                                <span class="glyphicon glyphicon-{% if  entity.active %}ok{% else %}ban{%endif%}-circle"></span>
                            </td>
                            <td> 
                                <a title="Modifier" href="{{ path('admin_partner_update', { 'partner' : entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('admin_partner_update') }}">
            <button type="button" class="submit">Créer un nouveau partenaire</button>
        </a>
    </div>
{% endblock %}
