<p>Commande <b>{{order.number}}</b></p>
<p>Votre commande est en cours d'expédition à destination de cette adresse :</p>
<p>
    {% if order.titleAddress is not null %}
        {{order.titleAddress}}    <br/>
    {% endif %}
        {{order.address}}
        {{order.additionalAddress}}<br/>
        {{order.zipCode}} {{order.city}}, {{order.country}} 
</p>
<p>N° de suivi colisposte : <a target="_blank" href="{{coliposteUrl|replace({'@':order.colisposteNumber})}}">{{order.colisposteNumber}}</a> </p>
<p>Vous pouvez retrouver la facture de cette commande depuis votre compte.<p>
<p>{{mailer_name}}.</p>

