<table>
    <thead>
        <tr>
            <th style="width: 140px">{{'Réf'|trans}}</th>
            <th style="width: 160px">{{'Description'|trans}}</th>
            <th style="width: 70px">{{'Quantité'|trans}}</th>
        </tr>
    </thead>
    <tbody>
        {% for p in getProductModelsGroupByRef(order) %}
            <tr>
                <td>{{p['number']}}</td>
                <td><b>{{p['name']}}</b><br/>
                    {% if p['size'] is not null %}
                        {{p['size']}};
                    {% endif %}
                    {% if p['color'] is not null %}
                        {{p['color']}};
                    {% endif %}
                    {% if p['material'] is not null %}
                        {{p['material']}};
                    {% endif %}
                    {% if p['numberEntity'] is not null %}
                        Num:{{p['numberEntity']}};
                    {% endif %}
                </td>
                <td>{{p['quantity']}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
