{% extends 'SfFrontBundle::frontTemplate.html.twig' %}
{% block css %}
   <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %} 
{% block ariane %}
    <div class="sous-categorie">CRITERES</div>
{% endblock %}
{% block bandeauClass %}
account
{% endblock %}
{% block body %}
    <div id="main-content" class="col-md-10">
        {{form_start(form)}}
        <div class="col-md-12">
            <div class="col-md-6">
           {{form_row(form.type)}}
           {{form_row(form.name)}}
           {{form_row(form.active)}}
           {{form_rest(form)}}
           <a href="{{path('admin_criterion')}}"><button class="submit">{{'Retour'|trans}}</button></a> <button type="submit" class="submit">{{'Enregister'|trans}}</button>
            </div>
        </div>
        {{form_end(form)}}

       
    </div>
{% endblock %}
