<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>{% block title %}Qwinsport, spécialiste du football féminin{% endblock %}</title>
        {% block meta_description %}<meta name="description" content="Qwinsport, LE spécialiste du football féminin. Marque de fabrication française, pensée par des joueuses pour des joueuses pour équiper clubs de football et particuliers. Maillots, chaussettes, shorts, survêtements, etc... tout y est pour femme et fille footballeuses.">{% endblock %}
        {% block meta_keywords %}<meta name="keywords" content="football féminin, foot feminin, maillot femme, maillot fille, équipementier football, équipementier sportif, maillot foot féminin, reines du sport, queensport, footballeuse, footeuse, laurie teinturier, marinette pichon, col claudine, FF, officiellement footballeuse, équipementier club, club de football, association sportive, vêtement sportif, vetement sportif, short football, pantacourt football, coupe féminine, coupe feminine, coeurs de foot, maillot féminin football,tenue football, equipe feminine, sportive, bleues. fabrication française, made in france, Juvisy, Donchet, foot d'elles, footofeminin, bleues.">{% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content="Qwinsport, site e-commerce" />
        <meta name="author" content="Audrey Parcineau" />
        <meta name="copyright" content="© Qwinsport.com" />
        <meta http-equiv="Content-Language" content="fr-FR" />

        <link href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/jquery-ui-1.11.0/jquery-ui.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/sffront/css/input.css')}}?v={{version}}" rel="stylesheet">
        <link href="{{asset('bundles/sffront/css/menu.css')}}?v={{version}}" rel="stylesheet">
        <link href="{{asset('bundles/sffront/css/global.css')}}?v={{version}}" rel="stylesheet">
        <link href="{{asset('bundles/sffront/css/ico_social.css')}}?v={{version}}" rel="stylesheet">
        <link href="{{asset('bundles/sffront/css/form.css')}}?v={{version}}" rel="stylesheet">
        <link href="{{asset('bundles/sffront/css/modal.css')}}?v={{version}}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

        {% block css %}
        {% endblock %}
    </head>
    <body class="bg">

        {{render(controller('SfFrontBundle:Nav:show',{'mobile' : true,'_route' :  app.request.attributes.get('_route')} ))}}

        <header class="header">

            <div class="container">
                <div class="header-all col-md-12">
                    <div class="header-account">
                        <div class="account-bloc">
                             {% if app.user.id is defined %}

                                <div class="icon account-icon"></div>  
                                <a class="account-mail" href="{{ path('account') }}" title="">
                                    {{app.user.label}} 
                                </a>
                                <a  href="{{ path('logout_user') }}"><span class=" glyphicon glyphicon-off"></span> </a>


                            {% else %}
                                <a href="" title="" data-toggle="modal" data-target="#account">
                                    <div class="icon account-icon"></div>Mon compte
                                </a>

                            {% endif %}


                        </div>
                        <div class="account-bloc">
                            <a id="total-shopping-cart" href="{{path('front_shopping_cart')}}" title="">
                                {{ render(controller('SfFrontBundle:ShoppingCart:totalShoppingCart')) }}
                            </a>
                        </div>
                    </div>
                    {#<div class="header-search hidden-xs">
                        <form action="index.html" method="post">
                            <div class="inner-addon right-addon">
                                <i class="glyphicon search-icon"></i>
                                <input type="text" class="form-control" />
                            </div>
                        </form>
                    </div>#}
                </div>
            </div>

        </header>
        <div class="container">
            <div class="{{app.request.attributes.get('_route') == 'front_home' ? 'col-md-12 col-sm-12' : 'col-md-10 col-sm-12' }}" >
                {% block bandeau %}
                    <div style="{% block bandeauStyle %}{% endblock%}" class="categories {% block bandeauClass %}{% endblock%}">
                        <div class="col-md-2">
                            <a href="{{path('front_home')}}" title="">
                                <div class="hidden-xs hidden-sm main-logo"></div>
                            </a>
                        </div>
                        {% if app.request.attributes.get('_route') == 'front_home' %}
                            {{render(controller('SfFrontBundle:Nav:show',{'mobile' : false,'_route' :  app.request.attributes.get('_route')} ))}}

                        {% endif %} 
                        <div class="subcat">{% block ariane %}{% endblock%}</div>
                        <div class="clearfix"></div>
                    </div>
                {% endblock%}
            </div>

            {% if app.request.attributes.get('_route') != 'front_home' %}
                {{render(controller('SfFrontBundle:Nav:show',{'mobile' : false,'_route' :  app.request.attributes.get('_route')} ))}}
            {% endif %}
        </div>
 {% block flash %}
        <div class="container">
            {% for type, messages in app.session.flashbag.all() %}
                <div class="col-md-10 alert alert-{{ type }}">
                    {% for key,message in messages %}

                        - {{ message }}<br/>

                    {% endfor %}
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    {% endblock %}
        <div class="container">
            {% block body %}




            {% endblock %}
        </div>



        <!-- Modal -->
        <div class="modal fade" id="account" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                        <div class="ico_fleche_ferme"></div><b>DEJA INSCRIT - SE CONNECTER</b>
                    </div>
                    <div class="modal-body">
                        {{render(controller('SfUserBundle:User:formLogin')) }}
                    </div>
                    <div class="modal-header footer">
                        <div style="padding-bottom:30px;padding-top: 0px" class="modal-header">
                            <div class="ico_fleche_ferme"></div><b>NOUVELLE INSCRIPTION</b>
                        </div>
                        <div  id="registration" >
                            {{render(controller('SfUserBundle:User:registration'))}}
                        </div>

                    </div>

                </div>
            </div>
        </div>



        {{render(controller('SfFrontBundle:Footer:show'))}}

        <script src="{{asset('assets/jquery-ui/js/jquery-1.10.2.js')}}"></script>
        <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets/jquery-ui-1.11.0/jquery-ui.js')}}"></script>
        <script src="{{asset('bundles/sffront/js/main.js')}}?v={{version}}"></script>
          {% if app.user.id is defined %}

            <script src="{{ asset('assets/tinymce/tinymce.js') }}"></script>
        {% endif %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{asset('bundles/sfuser/js/login.js')}}?v={{version}}"></script>
        {% block js %}
        {% endblock%}
        {% if app.environment == 'prod' %}
            <script>
                (function(i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function() {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-55922938-1', 'auto');
                ga('send', 'pageview');

            </script>

        {% endif %}


    </body>
</html>

