<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>{% block title %}Qwinsport{% endblock %}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/jquery-ui-1.11.0/jquery-ui.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/sffront/css/global.css')}}?v={{version}}" rel="stylesheet">
        <link href="{{asset('bundles/sffront/css/form.css')}}?v={{version}}" rel="stylesheet">
        <link href="{{asset('bundles/sffront/css/modal.css')}}?v={{version}}" rel="stylesheet">


        {% block css %}
        {% endblock %}
    </head>
    <body class="bg{{random([1,2])}}">


        <header class="header">
           
                <div class="">
                    <div class="header-all col-md-12">
                        <div class="header-account">
                            <div class="account-bloc">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED")  and app.user is not null %} 

                                    <div class="icon account-icon"></div>  
                                    <a href="{{ path('account') }}" title="">
                                        {{app.user.label}} 
                                    </a>
                                     <a  href="{{ path('logout_user') }}"><span class=" glyphicon glyphicon-off"></span> </a>


                                {% else %}
                                    <a href="" title="" data-toggle="modal" data-target="#account">
                                        <div class="icon account-icon"></div>Mon compte
                                    </a>

                                {% endif %}


                            </div>
                            <div class="account-bloc">
                                <a id="total-shopping-cart" href="{{path('front_shopping_cart')}}" title="">
                                    {{ render(controller('SfFrontBundle:ShoppingCart:totalShoppingCart')) }}
                                </a>
                            </div>
                        </div>
                        {#<div class="header-search hidden-xs">
                            <form action="index.html" method="post">
                                <div class="inner-addon right-addon">
                                    <i class="glyphicon search-icon"></i>
                                    <input type="text" class="form-control" />
                                </div>
                            </form>
                        </div>#}
                    </div>
                </div>
            
        </header>
        <div class="{{app.request.attributes.get('_route') == 'front_home' ? 'col-md-12 col-sm-12' : 'col-md-10 col-sm-9' }}" >
            {% block bandeau %}
                <div class="categories {% block bandeauClass %}{% endblock%}">
                    <div class="col-md-2">
                        <a href="{{path('front_home')}}" title="">
                            <div class="hidden-xs main-logo"></div>
                        </a>
                    </div>
                    <div class="subcat">{% block ariane %}{% endblock%}</div>
                </div>
            {% endblock%}
        </div>

        {{render(controller('SfFrontBundle:Nav:show',{'_route' :  app.request.attributes.get('_route')} ))}}


        <div class="container">
            {% for type, messages in app.session.flashbag.all() %}
                <div class="col-md-10 alert alert-{{ type }}">
                    {% for key,message in messages %}

                        - {{ message }}<br/>

                    {% endfor %}
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
        {% block body %}




        {% endblock %}



        <!-- Modal -->
        <div class="modal fade" id="account" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <div class="ico_fleche_ferme"></div><b>DEJA INSCRIT - SE CONNECTER</b>
                    </div>
                    <div class="modal-body">
                       {{render(controller('SfUserBundle:User:formLogin')) }}
                    </div>
                    <div class="modal-header footer">
                        <div class="ico_fleche_ferme"></div><b>NOUVELLE INSCRIPTION</b>
                    </div>
                    <div id="registration" class="modal-footer">
                       {{render(controller('SfUserBundle:User:registration'))}}
                    </div>
                </div>
            </div>
        </div>



         {{render(controller('SfFrontBundle:Footer:show'))}}

        <script src="{{asset('assets/jquery-ui/js/jquery-1.10.2.js')}}"></script>
        <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets/jquery-ui-1.11.0/jquery-ui.js')}}"></script>
        <script src="{{asset('bundles/sffront/js/main.js')}}"></script>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} 

        <script src="{{ asset('assets/tinymce/tinymce.js') }}"></script>
    {% endif %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{asset('bundles/sfuser/js/login.js')}}?v={{version}}"></script>
        {% block js %}
        {% endblock%}


    </body>
</html>

