{% extends "SfFrontBundle::frontTemplate.html.twig" %}
{% block css %}
    <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}
{% block title %}Qwinsport - La catégorie {{categorie}} {% endblock %}
{% block ariane %}<div class="sous-categorie">{{categorie|upper}}</div>{% endblock %}
{% block body %}
    <div style="margin-top:40px;" class="col-sm-9 col-md-10">
        <div class="cat">
            {% for c in cats %}
                <div class="col-sm-6 col-md-6">
                   <a href="{{path('front_products',{categorySlug : c.slug})}}" title="">
                    <img src="{{ asset(['/uploads/categories/', c.pictureUrl]|join) }}" alt="">
                </a> 
                </div>
                     
            {% endfor %}
           
            <div class="bloc-separation">
                <div class="separation"></div>
                <h2>Catalogues des offres clubs {{'now'|date('Y')}} / {{'now'|date('Y')+1}}</h2>
                 <a target="_blank" href="{{asset('/uploads/catalogs/'~catalog.fileUrl)}}">
                    <div class="dl">En téléchargement</div>
                </a>
                <div class="separation"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}