{% extends 'SfFrontBundle::frontTemplate.html.twig' %}
{% block css %}
    <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}  
{% block ariane %}
    LA MARQUE
{% endblock %}
{% block bandeauClass %}
account
{% endblock %}
{% block body %}
    <div id="main-content"  class="col-md-10">





        <div class="row">
            {{ form_start(form)}}
            <div class="product">
               
                <div class="article press">
                     <div class="col-md-12">{{ form_row(form.active)}}</div>
                    <div class="col-xs-12 col-md-3">
                        {{ form_label(form.picture) }}
                        <br/>
                        {% if form.vars.data.pictureUrl is not null %}
                            <img src="{{ asset(['/uploads/brand/', form.vars.data.pictureUrl]|join) }}" />
                        {% endif %}
                        {{ form_widget(form.picture) }}
                        {{ form_errors(form.picture) }}
                    </div>
                    <div class="col-xs-12 col-md-9 brand-details">
                     
                        {{ form_label(form.textPicture) }}
                        <br/>
                        {% if form.vars.data.textPictureUrl is not null %}
                            <img src="{{ asset(['/uploads/brand/', form.vars.data.textPictureUrl]|join) }}" />
                        {% endif %}
                        {{ form_widget(form.textPicture) }}
                        {{ form_errors(form.textPicture) }}
                        {{ form_row(form.title)}}
                        {{ form_row(form.subtitle)}}
                        {{ form_row(form.text)}}
                    </div>
                    <h3 class="big-title">
                        Une production<br><span class="din-bold">made in france</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt="">
                    </h3><br/>
                    <div class="col-md-12 text-center">
                        {{ form_label(form.centerPicture) }}
                        <br/>
                        {% if form.vars.data.centerPictureUrl is not null %}
                            <img src="{{ asset(['/uploads/brand/', form.vars.data.centerPictureUrl]|join) }}" />
                        {% endif %}
                        {{ form_widget(form.centerPicture) }}
                        {{ form_errors(form.centerPicture) }}
                    </div>

                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="big-title">
                            Pour la petite<br><span class="din-bold">histoire...</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt="">
                        </h3>
                        <div class="col-xs-12 col-md-4">
                          {{ form_label(form.picture2) }}
                        <br/>
                        {% if form.vars.data.picture2Url is not null %}
                            <img src="{{ asset(['/uploads/brand/', form.vars.data.picture2Url]|join) }}" />
                        {% endif %}
                        {{ form_widget(form.picture2) }}
                        {{ form_errors(form.picture2) }}
                        </div>
                        <div class="col-xs-12 col-md-8 brand-details">
                           {{ form_label(form.textPicture2) }}
                        <br/>
                        {% if form.vars.data.textPicture2Url is not null %}
                            <img src="{{ asset(['/uploads/brand/', form.vars.data.textPicture2Url]|join) }}" />
                        {% endif %}
                        {{ form_widget(form.textPicture2) }}
                        {{ form_errors(form.textPicture2) }}
                            {{ form_row(form.title2)}}
                            {{ form_row(form.subtitle2)}}
                            {{ form_row(form.text2)}}
                        </div>
                    </div>
                </div>
                        <div class="clearfix"></div>
                {{ form_rest(form) }}
                <button type="submit" class="submit" style="margin-right:10px">
                    Enregistrer
                </button>
                {{ form_end(form)}}
            </div>

        </div>
    </div>
{% endblock %}
{% block js %}
        <script>

            $(document).ready(function() {
                tinymce.init({
                    plugins: "link",
                    forced_root_block: false,
                    force_br_newlines: true,
                    force_p_newlines: false,
                    selector: "textarea",
                    height: 100
                });

               
            });
        </script>
    {% endblock %}