{% extends "SfFrontBundle::frontTemplate.html.twig" %}
{% block ariane %}
    <div class="sous-categorie">Actualités</div>
{% endblock %}
{% block bandeauClass %}
    actus
{% endblock %}
{% block css %}
    <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}
{% block title %}Qwinsport - Actus{% endblock %}
{% block body %}

   
        <div id="main-content" class="col-sm-9 col-md-10">

            <div class="product actualite col-sm-12 text-right">
               {# <a href="">
                    <div class="tri-month active">Sept</div>
                </a>
                <a href="">
                    <div class="tri-month">Aout</div>
                </a>
                <a href="">
                    <div class="tri-month">Juil</div>
                </a>
                <a href="">
                    <div class="tri-month">Juin</div>
                </a>
                <a href="">
                    <div class="tri-month">Mai</div>
                </a>
                <a href="">
                    <div class="tri-month">Avr</div>
                </a>
                <a href="">
                    <div class="tri-month">Mars</div>
                </a>
                <a href="">
                    <div class="tri-month">Fev</div>
                </a>
                <a href="">
                    <div class="tri-month">Janv</div>
                </a>#}
                <select  id="date"  class="date" style="width:70px;padding:2px">
                    {% for d in dates %}
                <option>{{d['year']}}</option>
                {% endfor %}
                </select>
              

               
            </div>
             <div id="grid" class="product actualite article-actus text-left">
                    {{render(controller('SfFrontBundle:Actuality:show'))}} 
                </div>
        </div>
    

{% endblock %}
{% block js %}
    <script src="{{asset('bundles/sffront/js/mansory/jquery.masonry.min.js')}}"></script>
    <script src="{{asset('bundles/sffront/js/actuality.js')}}?v={{version}}"></script>
{% endblock %}

