
{% for entity in actualities %}
    <div class="actu_{{entity.date|date('Y')}} box col-md-3">
        <div 
            style="{% if entity.pictureUrl is not null and entity.isBackground == true %}
            background:url({{ asset(['/uploads/actualities/', entity.pictureUrl]|join) }});background-size:cover;
            {% endif %}"  
                class="actuality {{entity.textColor}}">
                {% if entity.pictureUrl is not null and entity.isBackground == false %}
                    <div>
                        <img style="max-width:330px; width:100%"  src="{{ asset(['/uploads/actualities/', entity.pictureUrl]|join) }}" />
                    </div>
                {% endif %}
                <div class="text">
                    <h2>{{entity.title|upper}}</h2>
                    <h3>{{entity.subTitle|upper}}</h3>
                    <div class="article">{{entity.text|raw}}</div>
                </div>

                {% if entity.link is not null or entity.showDate == true %}
                    <div class="foot">
                        <div class="clearfix">
                            {% if entity.showDate == true %}
                                <span>{{entity.date|date('d/m/Y')}}</span>
                            {% endif %}
                            {% if entity.link is not null %}
                                <a class="link" target="_blank" href="{{entity.link}}">{{'Plus d\'infos'|trans|upper}}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}



