{% if mobile == true %}
<nav class="container hidden-md hidden-sm hidden-lg">
    <div class="">
        <div class="col-md-12 content">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{{path('front_home')}}"><span class="visible-xs navbar-brand"><img width="28px" src="{{asset('bundles/sffront/images/logo_footer.png')}}" alt=""> qwinsport</span></a>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="ico_fleche_ferme {{_route == 'front_home' ? 'active'}} direct"><a href="{{path('front_home')}}">Accueil</a></li>
                                {% for c in categories %}

                                {% if c.categories|length > 0 %}
                                    <li class="dropdown ico_fleche_ouvert">
                                        <a href="{{path('front_category',{'slug':c.slug})}}" class="dropdown-toggle">{{c.name}} </a>
                                        <ul class="dropdown-menu submenu">
                                            {% for sc in c.categories %}
                                                {% if sc.custom == false %}
                                                    <li class="ico_fleche_ferme"><a href="{{path('front_products',{'categorySlug':sc.slug})}}">{{sc.name}}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class=""><a href="{{path('front_category',{'slug':c.slug})}}">{{c.name}}</a></li>
                                    {% endif %}
                                {% endfor %}


                            <li class="ico_fleche_ferme"><a href="#">Personnaliser</a></li>
                            <li class="ico_fleche_ferme {{_route == 'front_actus' ? 'active'}}"><a href="{{path('front_actus')}}">Actus</a></li>
                            <li class="ico_fleche_ferme {{_route == 'front_partners' ? 'active'}}"><a href="{{path('front_partners')}}">Clubs et Partenaires</a></li>
                            <li class="ico_fleche_ferme {{_route == 'front_press' ? 'active'}}" ><a href="{{path('front_press')}}">Presse</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li class="dropdown">
                                    <a href="#" class="admin dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{path('admin_accounts')}}">Les comptes</a></li>
                                        <li><a href="{{path('orders')}}">Les commandes</a></li>
                                        <li><a href="{{path('admin_product')}}">Les Produits</a></li>
                                        <li><a href="{{path('admin_pub')}}">Les Pubs</a></li>
                                        <li><a href="{{path('admin_press')}}">La Presse</a></li>
                                        <li><a href="{{path('admin_actuality')}}">Les Actus</a></li>
                                        <li><a href="{{path('admin_catalog')}}">Les Catalogues</a></li>
                                        <li><a href="{{path('admin_partner')}}">Les Clubs et Partenaires</a></li>
                                        <li><a href="{{path('admin_brand')}}">La Marque</a></li>
                                        <li><a href="{{path('admin_legals')}}">Mentions légales</a></li>
                                        <li><a href="{{path('admin_config')}}">Configuration</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% else %}

<div class="{{_route == 'front_home' ? 'col-md-12 col-sm-12 home-nav' : 'col-md-2 col-sm-3' }} ">
    <div class="sidebar-nav hidden-xs pc">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand"><img src="images/logo_sm.png" alt=""> qwinsport</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="nav navbar-nav">
                     <li class="{{_route == 'front_home' ? 'active'}} ico_fleche_ferme"><a href="{{path('front_home')}}">Accueil</a></li>
                           
                        {% for c in categories %}
                            {% if c.categories|length > 0 %}
                            <li class="dropdown ico_fleche_ouvert">
                                <a href="{{path('front_category',{'slug':c.slug})}}" class="dropdown-toggle" >{{c.name}}</a>
                                <ul class="dropdown-menu submenu ">
                                    {% for sc in c.categories %}
                                        {% if sc.custom == false %}
                                            <li class="ico_fleche_ferme"><a href="{{path('front_products',{'categorySlug':sc.slug})}}">{{sc.name}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="ico_fleche_ferme"><a href="{{path('front_category',{'slug':c.slug})}}">{{c.name}}</a></li>
                            {% endif %}
                        {% endfor %}
                    <li class="ico_fleche_ferme"><a href="#">Personnaliser</a></li>
                    <li class="ico_fleche_ferme {{_route == 'front_actus' ? 'active'}}"><a href="{{path('front_actus')}}">Actus</a></li>
                    <li class="ico_fleche_ferme {{_route == 'front_partners' ? 'active'}}"><a href="{{path('front_partners')}}">Clubs / Partenaires</a></li>
                    <li class="ico_fleche_ferme {{_route == 'front_press' ? 'active'}}" ><a href="{{path('front_press')}}">Presse</a></li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="dropdown">
                            <a href="#" class="admin dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('admin_accounts')}}">Les comptes</a></li>
                                <li><a href="{{path('orders')}}">Les commandes</a></li>
                                <li><a href="{{path('admin_product')}}">Les Produits</a></li>
                                <li><a href="{{path('admin_pub')}}">Les Pubs</a></li>
                                <li><a href="{{path('admin_press')}}">La Presse</a></li>
                                <li><a href="{{path('admin_actuality')}}">Les Actus</a></li>
                                <li><a href="{{path('admin_catalog')}}">Les Catalogues</a></li>
                                <li><a href="{{path('admin_partner')}}">Les Clubs/Partenaires</a></li>
                                <li><a href="{{path('admin_brand')}}">La Marque</a></li>
                                <li><a href="{{path('admin_legals')}}">Mentions légales</a></li>
                                <li><a href="{{path('admin_config')}}">Configuration</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
                {% endif %}