{% extends "SfFrontBundle::frontTemplate.html.twig" %}
{% block css %}
     <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}
{% block ariane %}
    Partenaires &amp; Clubs
{% endblock %}
{% block bandeauClass %}
    partners
{% endblock %}
{% block title %}Qwinsport - Partenaires &amp; Clubs{% endblock %}


{% block body %}

    <div id="main-content">

        <div class="col-sm-9 col-md-10">
            <div class="product actualite col-sm-12">

                <div class="article press part">
                    <h3 class="big-title">
                        Nos<br><span class="din-bold">Clubs</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt="">
                    </h3><br/>
                    <div class="col-md-3"></div>
                    <div class="col-sm-6 col-md-2">
                        <img class="full" src="{{asset('bundles/sffront/images/clubs/club_1.jpg')}}" alt="">
                        <h4>Club des juniors de monaco</h4>
                        <img class="full" src="{{asset('bundles/sffront/images/clubs/club_4.jpg')}}" alt="">
                        <h4>Club des juniors de monaco</h4>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <img class="full" src="{{asset('bundles/sffront/images/clubs/club_2.jpg')}}" alt="">
                        <h4>Club des juniors de monaco</h4>
                        <img class="full" src="{{asset('bundles/sffront/images/clubs/club_5.jpg')}}" alt="">
                        <h4>Club des juniors de monaco</h4>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <img class="full" src="{{asset('bundles/sffront/images/clubs/club_3.jpg')}}" alt="">
                        <h4>Club des juniors de monaco</h4>
                        <img class="full" src="{{asset('bundles/sffront/images/clubs/club_6.jpg')}}" alt="">
                        <h4>Club des juniors de monaco</h4>
                    </div>
                    <div class="bloc-separation">
                        <div class="separation"></div>
                        <h2>Catalogue des offres clubs 2014/2015</h2>
                        <a href="">
                            <div class="dl">En téléchargement</div>
                        </a>
                        <div class="separation"></div>
                    </div><hr/>
                    <h3 class="big-title">
                        Nos<br><span class="din-bold">Partenaires</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt="">
                    </h3><br/>
                    <div class="partenaire">
                        <div class="col-md-3"></div>
                        <div class="col-xs-6 col-sm-6 col-md-2">
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz1.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz4.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz7.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz10.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz13.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-2">
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz2.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz5.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz8.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz11.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz14.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-2">
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz3.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz6.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz9.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                            <img class="full" src="{{asset('bundles/sffront/images/clubs/part_viz12.png')}}" alt="">
                            <h4>Club des juniors de monaco</h4>
                        </div><br/>
                        <div class="bloc-separation">
                            <a href="" title="">
                                <div class="dl">Faire partie des partenaires</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

