{% extends "SfFrontBundle::frontTemplate.html.twig" %}
{% block css %}
     <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
     <link href="{{asset('bundles/sffront/css/partner.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}
{% block ariane %}
    <div class="sous-categorie">Partenaires &amp; Clubs</div>
{% endblock %}
{% block bandeauClass %}
    partners
{% endblock %}
{% block title %}Qwinsport - Partenaires &amp; Clubs{% endblock %}


{% block body %}

    <div id="main-content" class="container">

        <div class="col-sm-9 col-md-10">
            <div class="col-sm-12">

                <div class="article press part">
                    <h3 class="big-title">
                        Nos<br><span class="din-bold">Clubs</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt="">
                    </h3><br/>
                    <div class="col-md-10 col-md-offset-1 cl">
                        {% for c in clubs %}
                        <div class="col-md-4 text-center club">
                            <img style="width: 194px;height: 93px" src="{{ asset(['/uploads/partners/', c.pictureUrl]|join) }}" />
                            <h4>{{c.title}}</h4>
                        </div>
                        {% endfor %}
                       
                    </div>
                        {% if catalog.fileUrl is defined %}
                   <div class="col-md-12">
                    <div class="bloc-separation">
                        <div class="separation"></div>
                        <h2>Catalogue des offres clubs {{'now'|date('Y')}}/{{'now'|date('Y')+1}}</h2>
                        <a target="_blank" href="{{asset('/uploads/catalogs/'~catalog.fileUrl)}}">
                            <div class="dl">En téléchargement</div>
                        </a>
                        <div class="separation"></div>
                    </div>
                   </div>
                            {% endif %}
                            <div class="clearfix"></div>
                            <hr/>
                    <h3 class="big-title">
                        Nos<br><span class="din-bold">Partenaires</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt="">
                    </h3><br/>
                    <div class="partenaire">
                        <div class="col-md-3"></div>
                      <div class="col-md-8 col-md-offset-2">
                        {% for p in partners %}
                        <div class="col-md-4 text-center club">
                            <img style="width:129px;height: 92px" src="{{ asset(['/uploads/partners/', p.pictureUrl]|join) }}" />
                            <h4>{{p.title}}</h4>
                        </div>
                        {% endfor %}
                        <div style="padding:0px;border-right: 1px dashed #000;" class="col-md-4 text-center club">
                             <a href="{{path('front_contact')}}" title="">
                                <div class="come-partner">Faire partie des partenaires</div>
                            </a>
                        </div>
                    </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

