{% extends 'SfFrontBundle::frontTemplate.html.twig' %}
{% block ariane %}
    <div class="container">
        <div class="col-md-12 ariane">{{'Actualités'|trans|upper}}</div>
    </div>
{% endblock %}
{% block body %}
    <div id="main-content" class="container">
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{'Title'|trans}}</th>
                        <th>{{'Extrait'|trans}}</th>
                        <th>{{'Lien'|trans}}</th>
                        <th>{{'Date'|trans}}</th>
                        <th>{{'Actif ?'|trans}}</th>
                        <th>{{'Actions'|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in actualities %}
                        <tr>
                            <td> 
                                  {% if entity.pictureUrl is not null %}
                                    <img style="max-width:70px"  src="{{ asset(['/uploads/actualities/', entity.pictureUrl]|join) }}" />
                                {% endif %}
                            </td>
                            <td><b>{{ entity.title }}</b><br/>{{ entity.subTitle }}</td>
                            <td>{{ entity.text|striptags|slice(0, 100)|raw }}...</td>
                            <td>
                                {% if entity.link is not null %}
                                    <a target="_blank" href="{{entity.link}}">{{'Plus d\'infos'|trans}}</a>
                                {% endif %}
                            </td>
                             <td>{% if entity.date %}{{ entity.date|date('d/m/Y') }}{% endif %}</td>
                             <td>
                    <span class="glyphicon glyphicon-{% if  entity.active %}ok{% else %}ban{%endif%}-circle"></span>
                  </td>
                  <td> 
                                <a title="Modifier" href="{{ path('admin_actuality_update', { 'actuality' : entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('admin_actuality_update') }}">
                <button type="button" class="btn-fridging-blue">{{'Nouvel actualité'|trans}}</button>
            </a>
        </div>

    </div>
{% endblock %}
