{% extends 'SfFrontBundle::frontTemplate.html.twig' %}
{% block css %}
    <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}  
{% block ariane %}
    LES ACTUS
{% endblock %} 
{% block bandeauClass %}
account
{% endblock %}
{% block body %}
    <div id="main-content"  class="container ">


        {{ form_start(form)}}


        <div class="row col-md-10">
            <div class="col-md-6">
                 <div class="col-md-6">
                {{ form_row(form.active) }}
                 </div>
                 <div class="col-md-6">
                {{ form_row(form.inHome) }}
                </div>
                {{ form_row(form.title) }}
                {{ form_row(form.link) }}
                {{ form_row(form.date) }}
                 {{ form_row(form.text) }}


            </div>
            <div class="col-md-6">
               
                {{ form_label(form.picture) }}
                <br/>
                 <div class="alert alert-info">Il est conseillé d'uploader une image d'un ratio de 4 (ex: 450px X 112px)</div>
                {% if form.vars.data.pictureUrl is not null %}
                    <img src="{{ asset(['/uploads/actualities/', form.vars.data.pictureUrl]|join) }}" />
                {% endif %}
                {{ form_widget(form.picture) }}
                {{ form_errors(form.picture) }}
                
                 {{ form_label(form.pictureHome) }}
                <br/>
                <div class="alert alert-info">Il est conseillé d'uploader une image d'un ratio de 1.36 (ex: 385px X 282px)</div>
                {% if form.vars.data.pictureHomeUrl is not null %}
                    <img style="width:250px" src="{{ asset(['/uploads/actualities/', form.vars.data.pictureHomeUrl]|join) }}" />
                {% endif %}
                {{ form_widget(form.pictureHome) }}
                {{ form_errors(form.pictureHome) }}
               

            </div>

                <div class="clearfix"></div>
            <div style="margin-top: 20px" class="row">
                <a href="{{ path('admin_actuality') }}" style="color:black">
                    <button type="button" class="submit" style="margin-right:10px">
                        {{'Retour'|trans}}
                    </button>
                </a>
                <div class="pull-right">
                    <button type="submit" class="submit" style="margin-right:10px">
                        {{'Enregistrer'|trans}}
                    </button>
                    {{ form_rest(form) }}
                </div>
                {{ form_end(form)}}

            </div>
        </div>


    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {


            tinymce.init({
                plugins: "link",
                forced_root_block: false,
                force_br_newlines: true,
                force_p_newlines: false,
                selector: "textarea",
                height: 300
            });





        });

    </script>

{% endblock %}