{% extends 'SfFrontBundle::frontTemplate.html.twig' %}
{% block css %}
   <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %} 
{% block ariane %}
PRESSE
{% endblock %}
{% block body %}
    <div id="main-content"  class="container">


        {{ form_start(form)}}


        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.active) }}
               
                {{ form_label(form.secondPicture) }}
                <br/>
                {% if form.vars.data.secondPictureUrl is not null %}
                    <img src="{{ asset(['/uploads/press/', form.vars.data.secondPictureUrl]|join) }}" />
                {% endif %}
                {{ form_widget(form.secondPicture) }}
                {{ form_errors(form.secondPicture) }}
                
                 {{ form_label(form.mainPicture) }}
                <br/>
                {% if form.vars.data.mainPictureUrl is not null %}
                    <img src="{{ asset(['/uploads/press/', form.vars.data.mainPictureUrl]|join) }}" />
                {% endif %}
                {{ form_widget(form.mainPicture) }}
                {{ form_errors(form.mainPicture) }}
                
               
               
                {{ form_row(form.parutionTitle) }}
                {{ form_row(form.parutionSubTitle) }}

            </div>
           

        </div>

        <div class="row">
            <a href="{{ path('admin_press') }}" style="color:black">
                <button type="button" class="submit" style="margin-right:10px">
                    {{'Retour'|trans}}
                </button>
            </a>
            <div class="pull-right">
                <button type="submit" class="submit" style="margin-right:10px">
                    {{'Enregistrer'|trans}}
                </button>
                {{ form_rest(form) }}
            </div>
            {{ form_end(form)}}

        </div>
    </div>
{% endblock %}
