{% extends "SfFrontBundle::frontTemplate.html.twig" %}

{% block css %}
    <link href="{{asset('bundles/sffront/css/home.css')}}?v={{version}}" rel="stylesheet">


{% endblock %}
{% block bandeauClass %}main {% endblock %}
{% block title %}Qwinsport{% endblock %}
 {% block flash %}
        <div style="position:absolute;top:250px;left:20%" class="" >
            {% for type, messages in app.session.flashbag.all() %}
                <div class="col-md-12 alert alert-{{ type }}">
                    {% for key,message in messages %}

                        - {{ message }}<br/>

                    {% endfor %}
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    {% endblock %}
{% block body %}
    
    {% for p in carrousel %}
            <div style="display:none"  class="vegas vegas_{{ ( loop.index  -1 )}}" data-bg="{{ asset(['/uploads/carrousel/', p.pictureUrl]|join) }}"></div>
    {% endfor %}
        
    <section class="floater">
        <div class="container row container-custom">
            <div class="col-md-12 col-sm-12 col-xs-12 inline-block">
                <div class="col-sm-4 col-md-4 col-xs-12 news-bloc">
                    <div class="last">
                    <h3>
                        Dernières<br/><span class="din-bold">Nouveautés</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt="">
                    </h3>
                    </div>
                    <div class="home shop-bloc">
                        {% for p in products %}
                            <div class="article">
                                {% if getStock(p) > 0 %}
                                    <a href="{{path('front_product',{'slug' : p.uniqueSlug})}}" title="">
                                        <img style="width:40%" src="{{ asset(['/uploads/products/', p.mainPictureUrl]|join) }}" alt="">
                                    </a>
                                {% else %}
                                    <img  style="width:40%" src="{{ asset(['/uploads/products/', p.mainPictureUrl]|join) }}" alt="">
                                {% endif %}

                               
                                <div class="article-details">
                                    <h4>{{ p.name|truncate(22) }}</h4>
                                    <p class="cat">{{ p.category.category.name }}</p>
                                    {% if getStock(p) == 0 %}
                                        <span class="label label-danger">Indisponible</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12 newsletter-bloc">
                    <div class="newsletter-details">
                        <h3>{{home_title.value is defined ? home_title.value}}</h3>
                        <div>{{home_text.value is defined ? home_text.value|raw}}</div>

                    </div>
                    <div class="about-marque">
                        <a href="{{path('front_brand')}}"><div class="ico_fleche_ferme"></div>A propos de la marque</a>
                    </div>
                    <div class="newsletter-get">
                        <h2>Recevoir<br/>la newsletter</h2>
                        <img src="{{asset('bundles/sffront/images/border-black.png')}}" class="border" alt="">
                    </div>
                    <div class="newsletter-input">
                        <form action="{{path('front_home')}}" method="post">
                            <input type="text" name="lastname" autocomplete="off" required placeholder="NOM">
                            <input type="text" name="firstname" autocomplete="off" required placeholder="PRENOM">
                            <input type="text" name="email" autocomplete="off" required placeholder="EMAIL">
                            <button type="submit">ENVOYER</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4  col-xs-12 actu-bloc">
                    <div class="before hidden-xs"></div>
                    <div class="actu-bloc-news">
                        <h3>Les<br/><span class="din-bold">Actus</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt=""></h3>
                            {% for a in actualities %}
                            <div class="actu-info">
                                <div class="actu-date">{{a.date|date('d/m/Y')}}</div><hr/>
                                <div class="actu-title"><a style="color:#333333" href="{{path('front_actus')}}"><h1>{{a.title}}</h1></a></div>
                                <div class="actu-content">
                                    {{a.text[:150]|striptags|raw}}..
                                </div>
                            </div>
                            <img class="visuel" src="{{ asset(['/uploads/actualities/', a.pictureHomeUrl]|join) }}" alt="">

                        {% endfor %}
                    </div>

                </div>
                <div class="bg_footer hidden-xs "></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script src="{{asset('bundles/sffront/js/vegas/jquery.vegas.js')}}?v={{version}}"></script>
     <script src="{{asset('bundles/sffront/js/home.js')}}?v={{version}}"></script>
{% endblock %}
