{% extends 'SfAdminBundle::adminTemplate.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>login</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Job</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.username}}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.job }}</td>
                <td>
                  <a href="{{ path('fos_user_profile_edit', { 'userId': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fos_user_registration_register') }}">
<button type="button" class="btn btn-primary">
        Créer un nouvel utilisateur
  </button>
    </a>
    {% endblock %}
