{% extends 'SfFrontBundle::frontTemplate.html.twig' %}

{% block css %}
    <link href="{{asset('bundles/sffront/css/login.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}
{% block title %}Qwinsport - {{ 'Se connecter ou s\'inscrire'|trans }}{% endblock %}
 {% block bandeau %}{% endblock%}
{% block body %}

    <div id="main-content" class="col-md-10 log ">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }} </div>
        {% endif %}
        <div class="col-md-8 col-md-offset-2">
            <h3>{{ 'Déja inscrit - Se connecter'|upper|trans }}</h3>
            <div class="col-md-8 col-md-offset-2">
               {{render(controller('SfUserBundle:User:formLogin'))}}
            </div>
        </div>
        
            <div style="margin-top: 50px" class="col-md-8 col-md-offset-2">
                <h3>{{ 'Nouvelle Inscription'|upper|trans }}</h3>
                <div id="registration" class="col-md-8 col-md-offset-2">
                    {{render(controller('SfUserBundle:User:registration'))}}
                </div>
            </div>
      
    </div> 
{% endblock %}
