<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Fridging - Traduction{% endblock %}</title>
       
        <link href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/jmstranslation/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('assets/jquery-ui-1.11.0/jquery-ui.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/sffront/css/main.css')}}?v={{version}}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/summernote/summernote.css')}}?v={{version}}">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/summernote/summernote-bs3')}}?v={{version}}">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/font-awesome/css/font-awesome.min.css')}}?v={{version}}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("bundles/jmstranslation/css/layout.css") }}" />

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block topjavascripts %}{% endblock %}
    </head>
    <body id="trad">
        {{ render(controller('SfFrontBundle:Header:show',{
'params' : app.request.get('_route_params') ,
 '_route' :  app.request.attributes.get('_route') })) }}

    
     <div  class="container">
    <div class="col-md-12 ariane">{{'Traduction du site'|trans|upper}}</div>
   </div>
       
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}
        <script language="javascript" type="text/javascript" src="{{ asset("bundles/jmstranslation/js/jquery.js") }}"></script>
        {% endblock %}
        <script src="{{asset('assets/jquery-ui/js/jquery-1.10.2.js')}}"></script>
    <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/jquery-ui-1.11.0/jquery-ui.js')}}"></script>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} 

        <script src="{{ asset('assets/tinymce/tinymce.js') }}"></script>
    {% endif %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{asset('bundles/sffront/js/main.js')}}?v={{version}}"></script>
    <script src="{{asset('assets/summernote/summernote.js')}}?v={{version}}"></script>

    </body>
</html>