{% extends "SfFrontBundle::frontTemplate.html.twig" %}
{% block title %}Qwinsport - La marque{% endblock %}
{% block ariane %}LA MARQUE
{% endblock %}
{% block bandeauClass %}brand
{% endblock %}
{% block css %}
     <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id="main-content">
   
        <div class="product col-sm-12">		
            <div class="article press">
                <div class="col-xs-12 col-md-3">
                    <img class="full" src="{{ asset(['/uploads/brand/', brand.pictureUrl]|join) }}" />
                </div>
                <div class="col-xs-12 col-md-9 brand-details">
                    <img class="full" src="{{ asset(['/uploads/brand/', brand.textPictureUrl]|join) }}" />
                    <h6>{{brand.title}}<br/>{{brand.subtitle}}</h6>
                    <div>{{brand.text|raw}}</div>
                </div>
                <h3 class="big-title">
                    Une production<br><span class="din-bold">made in france</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt="">
                </h3><br/>
                <div class="col-md-12 text-center">
               <img class="full" src="{{ asset(['/uploads/brand/', brand.centerPictureUrl]|join) }}" /><br/><br/>
                </div>
                
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="big-title">
                        Pour la petite<br><span class="din-bold">histoire...</span><img src="{{asset('bundles/sffront/images/border.png')}}" class="border" alt="">
                    </h3>
                    <div class="col-xs-12 col-md-4">
                        <img class="full" src="{{ asset(['/uploads/brand/', brand.picture2Url]|join) }}" />
                    </div>
                    <div class="col-xs-12 col-md-8 brand-details">
                        <img class="full" src="{{ asset(['/uploads/brand/', brand.textPicture2Url]|join) }}" />
                        <h6>{{brand.title2}}<br/>{{brand.subtitle2}}</h6>
                        <div>{{brand.text2|raw}}</div>
                    </div>
                </div>
            </div>
     
    </div>
    </div>
{% endblock %}
