{{ form_start(form)}}
<h2>Catalogue Club</h2> 
{{ form_label(form.file) }}
<br/>
{% if form.vars.data.fileUrl is not null %}
    <a target="_blank" href="{{asset('/uploads/catalogs/'~form.vars.data.fileUrl)}}">{{'Catalogue club'|trans}}</a>
{% endif %}
{{ form_widget(form.file) }}
{{ form_errors(form.file) }}

<br/><br/>
{{ form_rest(form) }}
<button type="submit" class="submit" style="margin-right:10px">
    {{'Enregistrer'|trans}}
</button>
{{ form_end(form)}}