{% extends 'SfFrontBundle::frontTemplate.html.twig' %}
{% block css %}
    <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}  
{% block ariane %}
    <div class="sous-categorie">CATALOGUE</div>
{% endblock %}
{% block bandeauClass %}
account
{% endblock %}
{% block body %}
    <div id="main-content"  class=" col-md-10">


        


        <div class="row ">

            <div class="col-md-6">
                {{ form_start(formClub)}}
                <h2>Catalogue Club</h2> 
                {{ form_label(formClub.file) }}
                <br/>
                {% if formClub.vars.data.fileUrl is not null %}
                    <a target="_blank" href="{{asset('/uploads/catalogs/'~formClub.vars.data.fileUrl)}}">{{'Catalogue club'|trans}}</a>
                {% endif %}
                {{ form_widget(formClub.file) }}
                {{ form_errors(formClub.file) }}
                
                <br/><br/>
                    {{ form_rest(formClub) }}
                     <button type="submit" class="submit" style="margin-right:10px">
                        {{'Enregistrer'|trans}}
                    </button>
                {{ form_end(formClub)}}
            </div>
                
                 <div class="col-md-6">
                      {{ form_start(formPress)}}
                     <h2>Catalogue Presse</h2>     
                {{ form_label(formPress.file) }}
                <br/>
                {% if formPress.vars.data.fileUrl is not null %}
                    <a target="_blank" href="{{asset('/uploads/catalogs/'~formPress.vars.data.fileUrl)}}">{{'Catalogue presse'|trans}}</a>
                {% endif %}
                {{ form_widget(formPress.file) }}
                {{ form_errors(formPress.file) }}

                <br/><br/>
                  {{ form_rest(formPress) }}
                     <button type="submit" class="submit" style="margin-right:10px">
                        {{'Enregistrer'|trans}}
                    </button>
                {{ form_end(formPress)}}
            </div>


          
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {


            tinymce.init({
                plugins: "link",
                forced_root_block: false,
                force_br_newlines: true,
                force_p_newlines: false,
                selector: "textarea",
                height: 300
            });





        });

    </script>

{% endblock %}