{% extends 'SfFrontBundle::frontTemplate.html.twig' %}
{% block ariane %}
    <div class="container">
        <div class="col-md-12 ariane">{{'Catalogues'|trans}}</div>
    </div>
{% endblock %}
{% block body %}
    <div id="main-content"  class="container">


        {{ form_start(form)}}


        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.brand) }}
                {{ form_row(form.year) }}
                {{ form_label(form.file) }}
                <br/>
                {% if form.vars.data.fileUrl is not null %}
                    <a target="_blank" href="{{asset('/uploads/catalogs/'~form.vars.data.fileUrl)}}">{{'Catalogue'|trans}}</a>
                {% endif %}
                {{ form_widget(form.file) }}
                {{ form_errors(form.file) }}


            </div>
            

        </div>

        <div style="margin-top: 20px" class="row">
            <a href="{{ path('admin_catalog') }}" style="color:black">
                <button type="button" class="btn-fridging" style="margin-right:10px">
                    {{'Retour'|trans}}
                </button>
            </a>
            <div class="pull-right">
                <button type="submit" class="btn-fridging-blue" style="margin-right:10px">
                    {{'Enregistrer'|trans}}
                </button>
                {{ form_rest(form) }}
            </div>
            {{ form_end(form)}}

        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {


            tinymce.init({
                plugins: "link",
                forced_root_block: false,
                force_br_newlines: true,
                force_p_newlines: false,
                selector: "textarea",
                height: 300
            });





        });

    </script>

{% endblock %}