{% trans_default_domain 'SfFrontBundle' %}
{{form_start(form)}}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h4 class="modal-title">{{'Gestion du compte'|trans()}}</h4>
</div>
<div class="modal-body">
    <div  class="col-xs-12">
          
       <div class="col-xs-6">
            {{form_row(form.lastname)}} 
        </div>
        <div class="col-xs-6">
            {{form_row(form.firstname)}} 
        </div>
        
          <div class="col-xs-6">
            {{form_row(form.email)}}  
        </div>
        <div class="col-xs-6">
            {{form_row(form.phone)}}  
        </div>
        <div class="col-xs-6">
            {{form_row(form.locked)}}  
        </div>
       
        

    </div>
         <div class="clearfix">
           
        </div>

    <div id="address" class="col-xs-12">
        <div id="left" class="col-xs-6">
             {% if form.addresses[0] is defined %}
            <h4>{{'Addresse de livraison'|trans()}}</h4>
           
            
                {{form_row(form.addresses[0])}} 
           {% endif %}
        </div>
        <div id="right" class="col-xs-6">
             {% if form.addresses[1] is defined %}
            <h4>{{'Addresse de facturation'|trans()}}</h4>
           
                {{form_row(form.addresses[1])}} 
            
            {% endif %}
        </div>
    </div>

</div>
<div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button type="button" class="submit" data-dismiss="modal">{{'Fermer'|trans()}}</button>
    <button type="submit" class="submit">{{'Enregistrer'|trans()}}</button>
</div>
    {{form_rest(form)}}
{{form_end(form)}}