{% extends 'SfFrontBundle::frontTemplate.html.twig' %}
{% trans_default_domain 'SfFrontBundle' %}
{% block css %}
    <link href="{{asset('bundles/sfadmin/css/account.css')}}?v={{version}}" rel="stylesheet">
{% endblock %} 
{% block body %}
    <div id="main-content" class="container">
        <h1>{{'Mon compte'|trans}}</h1>
        {% include 'SfAdminBundle:Account:submenu.html.twig' %}
        <div id="orders" class="col-xs-12">
            <h3>{{'Toutes vos commandes'|trans()}}</h3>
            {% if orders|length == 0 %}
                <div class="alert alert-info">
                    {{'Vous n\'avez pas encore passé de commandes'|trans}}
                </div>
            {% else %}   
                {% for key,order in orders %}
                    {% include 'SfAdminBundle:Order:order.html.twig'%}
                {% endfor %}
                    {% endif %}  
                    </div>
                </div>
                {% endblock %}
{% block js %}
<script src="{{asset('bundles/sfadmin/js/order/index.js')}}?v={{version}}"></script>
{% endblock %}