
{{form_start(form)}}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{{'Commande'|trans()}} #{{form.vars.data.number}}</h4>
</div>
<div class="modal-body">
   
    {{form_row(form.colisposteNumber)}}

    <div class="form-group ">
       {#  <div class="col-xs-3">
       <label for="validee" class="control-label">{{'Validée'|trans()}}</label>
        <div class="clearfix"></div>
        <input {{statusForm['validee'] is defined ? 'checked'}} type="checkbox" name="status[]" value="validee" id="validee">
        <div class="clearfix"></div> 
        </div>
         <div class="col-xs-3">
         <label for="payee" class="control-label">{{'Payée'|trans()}}</label>
        <div class="clearfix"></div>
        <input {{statusForm['payee'] is defined ? 'checked'}} type="checkbox" name="status[]" value="payee" value="1" id="payee">
        <div class="clearfix"></div> 
         </div>
        #}
        <div class="col-xs-3">
          <label for="envoyee" class="control-label">{{'Envoyée'|trans()}}</label>
        <div class="clearfix"></div>
        <input {{statusForm['envoyee'] is defined ? 'checked'}} type="checkbox" name="status[]" value="envoyee" value="envoyee" id="validee">
        <div class="clearfix"></div> 
         </div>
       {#   <div class="col-xs-3">
         <label for="recue" class="control-label">{{'Recue'|trans()}}</label>
        <div class="clearfix"></div>
        <input {{statusForm['recue'] is defined ? 'checked'}} type="checkbox" name="status[]" value="recue" value="recue" id="validee">
        <div class="clearfix"></div> 
         </div>#}
        
        <div class="clearfix"></div> 
    </div>
</div>
<div class="modal-footer">
    <button type="button" class=" submit" data-dismiss="modal">{{'Fermer'|trans()}}</button>
    <button type="submit" class=" submit">{{'Enregistrer'|trans()}}</button>
</div>
{{form_end(form)}}